.box-card {
  padding: 2rem 12rem;
  display: flex;
  justify-content: space-evenly;

  background-color: rgb(0, 19, 20);
}

.card-text {
  padding-right: 5rem;
  text-align: justify;
}

.card-text h1 {
  padding: 1.1rem 0;
}

.card-text h2 {
  padding-left: 0;
}

.card-text h3 {
  padding-top: 1.9rem;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ul li {
  padding-left: 1.1rem;
}

img {
  padding-top: 3rem;
  width: 40%;
  height: 40%;
}