.box-card-list {
  width: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  margin: 2rem 1rem;
}

.box-card-list:hover {
  opacity: 80%;
  transform: scale(1.2, 1.2);
  transition: all 0.4s ease;
}